{% extends 'base.html.twig' %}
{% block title %}<title>shop</title>{% endblock %}
{% block body %}
<body class="Site">
{# открытие тега header происходит в base.html.twig #}
  </header>
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{{ seller.name }}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{{path('app_homepage')}}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>О продавце</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{asset('build/images/icons/contacts/phone.svg')}}" alt="phone.svg"/>
              </div>
              <div class="media-content">Тел:&#32;
                <nobr>{{ seller.phone }}</nobr>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{asset('build/images/icons/contacts/address.svg')}}" alt="address.svg"/>
              </div>
              <div class="media-content">
                {{ seller.address }}
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{asset('build/images/icons/contacts/mail.svg')}}" alt="mail.svg"/></div>
              <div class="media-content">Email: {{ seller.email }}</div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
              <div class="pict"><img src="{{asset('build/images/content/home/bigGoods.png')}}" alt="bigGoods.png"/>
              </div>
            </div>
            <div class="row-block">
              <h2>{{ seller.name }}</h2>
              <p>{{ seller.description }}
              </p>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer
                </li>
                <li>adipiscing elit doli. Aenean commodo ligula
                </li>
                <li>eget dolor. Aenean massa. Cumtipsu sociis
                </li>
                <li>natoque penatibus et magnis dis parturient
                </li>
                <li>montesti, nascetur ridiculus mus. Donec
                </li>
                <li>quam felis, ultricies nec, pellentesque eutu
                </li>
              </ul>
            </div>
          </div>
          <header class="Section-header">
            <h2 class="Section-title">Популярные товары продавца</h2>
          </header>
          <div class="Cards">
            {% for product in seller.product %}
            <div class="Card"><a class="Card-picture" href="{{path('app_product')}}?prodId={{product.id}}"><img src="{{asset('build/images/content/home/card.jpg')}}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title">
                 <a href="{{path('app_product')}}?prodId={{product.id}}">{{product.productname}}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">${{product.pricein}}</span><span class="Card-price">${{product.pricesale}}</span>
                  </div>
                  <div class="Card-category">{{product.category.category}}
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="{{asset('build/images/icons/card/bookmark.svg')}}" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="{{asset('build/images/icons/card/cart.svg')}}" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="{{asset('build/images/icons/card/change.svg')}}" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-{{(((product.pricein - product.pricesale)/ product.pricein ) * 100)|number_format}}%
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body></html>
{% endblock %}